<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="">Alice's Dreams Theater</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/manager">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manager/shows">Shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manager/today">Today</a>
        </li>
        <li>
          <a class="nav-link" style="cursor:pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>
<h1>Select today show </h1>
<h5>Please click on the show you want to paly today</h5>

<div class="list-group">
  <div *ngIf="!items">There are no shows</div>
  <a *ngFor="let item of items" (click)="openAddTodayShow(item)" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">

      <h4 class="mb-1">{{item.denumire}} </h4>
    </div>
    <p class="mb-1">{{item.descriere}}</p>
  </a>
</div>
