.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{

  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.list-group-item{
  width: 90%;
  margin: auto;
}
.clearfix {
  overflow: auto;
}
